<p class='encabezado'>
    Se notifica que se ha recibido la instrucción para agregar una nueva Cuenta Destino en el módulo de Transferencias Nacionales (TEF y SPEI), de tu servicio de Banca Electrónica eBIM
</p>

<table class='tabla' width='512px'>	
    <tr>
        <td class='tbltitulo' colSpan='2'>
        Transferencias Nacionales (TEF y SPEI)
        </td>
    </tr>
    <tr>
        <td>
            <b>Cliente: </b>
        </td>
        <td>
            {Str_Client}
        </td>
    </tr>
    <tr>
        <td>
            <b>Usuario: </b>
        </td>
        <td>
            {Usu_Nombre}
        </td>
    </tr>
    <tr>
        <td>
            <b>Cuenta Destino: </b>
        </td>
        <td>
            {Cud_Cuenta} ({Cud_Alias})
        </td>
    </tr>
    <tr>
        <td>
            <b>Banco: </b>
        </td>
        <td>
            {Nom_Banco}
        </td>
    </tr>

    <tr>
        <td>
            <b>Código de Activación: </b>
        </td>
        <td>
            {Cds_Random}
        </td>	
    </tr>
</table>
<p class='encabezado'>
Para activar tu Cuenta Destino, realiza los siguientes pasos:
<br>
<ol style='font-size: 13px'>
    <li type='1'>
Nunca te solicitaremos por teléfono este 'Código de Activación', por lo que no deberás compartirlo con nadie.
    </li>
    <li type='1'>
Ingresa a la sección de Alta de Cuentas Destino, aparecerá un listado con las cuentas pendientes donde verás la nueva cuenta que diste de alta con un link 'Pendiente Código de Activación'.
    </li>
    <li type='1'>
Da clic en él, confirma que sea una Cuenta realmente dada de alta por ti, verifica los datos y captura tu Código de Activación y tu Contraseña Dinámica (Token). 
    </li>
    <li type='1'>
Después de realizar este procedimiento, tu Cuenta estará disponible en {TiempoEspera} minutos y podrás realizar tu transferencia.
    </li>
    <li type='1'>
Si tú no realizaste este movimiento de Alta de Cuenta, por favor repórtalo de inmediato al Centro de Atención a Clientes B.I.M..
    </li>
</ol>
</p>