<div><p align='right'> RECA 13403-436-028475 &nbsp; </p></div><br>
<p>Comprobante de la Solicitud de Apertura de CEDE realizada a través de tu servicio de Banca Electrònica eBIM.</p>
<table border='0' width='525px'>
	<tr>
		<td colSpan='2'>Apertura de Inversión CEDE PLUS</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Cuenta:</b></td>
		<td style='padding-left:10px'>{Inv_Cuenta}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Número inversión:</b></td>
		<td style='padding-left:10px'>{Inv_Numero}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Monto:</b></td>
		<td style='padding-left:10px'>{Inv_Cantid}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Plazo:</b></td>
		<td style='padding-left:10px'>{Inv_PlazoDescri}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>(3) GAT Nom(%):</b></td>
		<td style='padding-left:10px'>{Inv_GATCede}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>(3) GAT Real(%):</b></td>
		<td style='padding-left:10px'>{Inv_GATReaCede}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Fecha inicio:</b></td>
		<td style='padding-left:10px'>{Inv_FecIni}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Fecha vencimiento:</b></td>
		<td style='padding-left:10px'>{Inv_FecVen}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>(4) Tasa de Referencia:</b></td>
		<td style='padding-left:10px'>{Tas_Referencia}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>(2) I.S.R.:</b></td>
		<td style='padding-left:10px'>{Inv_ISR}%</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Interés Neto:</b></td>
		<td style='padding-left:10px'>{Inv_Tasa}%  {Inv_CanNet}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Total a recibir al vencimiento:</b></td>
		<td style='padding-left:10px'>Inv_CanTot</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Folio de la Transacción:</b></td>
		<td style='padding-left:10px'>{NumTransac}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Usuario solicita:</b></td>
		<td style='padding-left:10px'>{Usu_Nombre}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Fecha solicita:</b></td>
		<td style='padding-left:10px'>{FechaSis}</td>
	</tr>
	<tr>
		<td colspan='2'>
			<table width='525px'>
				<tr>
					<td colspan='5' align='justify' class='linsup2'><br>
						El importe que ampara este documento se recibe en calidad de Depósito a plazo documentado en constancias de
						Depósito conservando dichas constancias en Administración en los términos del Contrato respectivo
						celebrado con 'BIM'.<br>
						<b>(1)</b> De acuerdo a la legislación y reglamentación vigente al momento de suscribir el presente recibo de
						Depósito. El rendimiento neto variará en caso de modificaciones al régimen fiscal de los 
						instrumentos financieros de la Tasa Anualizada.<br>
						<b>(2)</b> De acuerdo al impuesto vigente a la fecha.<br>
						<b>(3)</b> GAT: Antes de impuestos. La GAT Real es el rendimiento que obtendrá después de descontar la inflación estimada.<br>
						<b>(4)</b> La tasa de interés que aplicará en cada periodo mensual  se determinará conforme a rangos establecidos  
						y será el  resultante de multiplicar  la tasa de referencia  Certificados de  la  Tesorería de la Federación 
						(CETES) a plazo de 28 (veintiocho) días en colocación primaria que dé a conocer el Banco de México en forma inmediata 
						anterior a la fecha de determinación de que se trate (Tasa Base), por  cierto factor conforme al rango que le 
						corresponda. La tasa resultante será expresada porcentualmente y en términos brutos anuales.
					<br><br></td>
				</tr>
				<tr>
					<td colspan='5' align='center'> &nbsp; <b> Amortizaciones </b> &nbsp;</td>
				</tr>
				<tr>
					<td width='18%' align='center'><b>Fec. vencimiento</b></td>
					<td width='21%' align='center'><b>Capital</b></td>
					<td width='20%' align='center'><b>Interés</b></td>
					<td width='20%' align='center'><b>I.S.R.</b></td>
					<td width='21%' align='center'><b>(1) Importe a liquidar</b></td>
				</tr>
				{TablaAmortiBody}
			</table>
		</td>
	</tr>
	<tr>
		<td colspan='2' width='535px' align='center'>
			<b>Verificador</b><br>
			{Str_Verifi1}<br>
			{Str_Verifi2}<br>
			{Str_Verifi3}<br>
			{Str_Verifi4}<br>
			{Str_Verifi5}
		</td><br>
	</tr>
	<tr>
		<td colspan='5' align='justify' class='linsup2'><br>
			Este es un correo generado de forma automática por eBIM, favor de no responder al mismo.
		<br></td>
	</tr>
</table>