<p class='encabezado'>Se ha solicitado una transferencia B.I.M. a tu cuenta.</p>
<table border='0' width='512px'>
    <tr>
        <td class='tbltitulo' colSpan='2'> Transferencia B.I.M. </td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Cuenta Origen: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trb_DeCuOr}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Cuenta Destino: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trb_DeCuDe}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Monto: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trb_Monto} {Trb_DesMon}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Tipo de Cambio:</b></td>
        <td class='linsup2' style='padding-left:10px'>{Trb_TipCam}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Monto Equivalente:</b></td>
        <td class='linsup2' style='padding-left:10px'>{Trb_MonEqu} {Trb_StrEqu}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Descripción: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trb_Descri}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Folio de Transacción: </b></td>
        <td class='linsup2' style='padding-left:10px'>{NumTransac}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Fecha de cargo: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trb_FecCarDDMMYYYY} {Trb_FecCarHHMM}</td>
    </tr>
</table>
<p class='encabezado'>Cualquier comentario favor de comunicarte con el Solicitante de la misma</p>