<p>Comprobante de la Solicitud de Reinversión de Pagaré realizada a través de tu servicio de Banca Electrónica eBIM.</p>
<table border='0' width='512px'>
	<tr>
		<td colSpan='2'>Reinversión de Pagaré</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Nueva Inversión:</b></td>
		<td style='padding-left:10px'>{Inv_Nueva}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Cuenta:</b></td>
		<td style='padding-left:10px'>{Inv_Cuenta}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Monto:</b></td>
		<td style='padding-left:10px'>{Inv_Cantid}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Depósito:</b></td>
		<td style='padding-left:10px'>{Inv_Deposi}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Plazo (días):</b></td>
		<td style='padding-left:10px'>{Inv_Plazo}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>GAT (%):</b></td>
		<td style='padding-left:10px'>{Inv_InfGAT}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Fecha inicio:</b></td>
		<td style='padding-left:10px'>{Inv_FecIni}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Fecha vencimiento:</b></td>
		<td style='padding-left:10px'>{Inv_FecVen}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Instrucciones de liquidación al vencimiento:</b></td>
		<td style='padding-left:10px'>{Str_InsLiq}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Interés Bruto:</b></td>
		<td style='padding-left:10px'>{Inv_TBruta}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>I.S.R.:</b></td>
		<td style='padding-left:10px'>({Inv_ISR}) {Inv_CanISR}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Interés Neto:</b></td>
		<td style='padding-left:10px'>({Inv_Tasa}) {Inv_CanNet}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Total a recibir al vencimiento: </b></td>
		<td style='padding-left:10px'>{Inv_CanTot}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Folio de la Transacción:</b></td>
		<td style='padding-left:10px'>{NumTransac}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Usuario solicita: </b></td>
		<td style='padding-left:10px'>{Usu_Nombre}</td>
	</tr>
	<tr>
		<td style='padding-left:10px'><b>Fecha solicita: </b></td>
		<td style='padding-left:10px'>{fechaSis}</td>
	</tr>
	<table border='0'  width='510px'>
		<tr>
			<td style='text-align:center; padding:10px'>
				<b>Verificador</b><br>
				{Str_Verifi}<br>
				{Str_Verifi}<br>
				{Str_Verifi}<br>
				{Str_Verifi}<br>		
				{Str_Verifi}							
			</td>									
		</tr>	 
	</table>
</table>