<p class='encabezado'>
    Se ha solicitado una transferencia SPEI a tu cuenta.
</p>
<table border='0' width='512px'>
    <tr>
        <td class='tbltitulo' colSpan='2'> Transferencia Nacional SPEI </td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Cuenta Origen: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trn_DeCuOr}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Cuenta Destino: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trn_CueDe}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Monto: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trn_Monto}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Descripción: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trn_Descri}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Folio de transacción:</b></td>
        <td class='linsup2' style='padding-left:10px'>{NumTransac}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Fecha de cargo: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trn_FecCar}</td>
    </tr>
    <tr>
        <td class='linsup2' style='padding-left:10px'><b>Fecha aplicación: </b></td>
        <td class='linsup2' style='padding-left:10px'>{Trn_FecApl}</td>
    </tr>
</table>
<p class='encabezado'>Cualquier comentario favor de comunicarte con el Solicitante de la misma</p>